@charset "UTF-8";

/* 404 Error pages */
#error {
    width: 960px;
    margin: auto;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.error-wrap {
    position: relative;
    min-height: 460px;
    margin: 24px 0;
    overflow: hidden;
    text-align: center;
}
.error-wrap h2,
.error-wrap p {
    position: absolute;
    z-index: 1000;
    width: 960px;
    
}
.error-wrap h2 {
    top: 130px;
    font-size: 340%;
    color: #aa2222;
}
.error-wrap p {
    top: 200px;
    font-size: 120%;
}

.box {
    position: absolute;
}

.s20 {
    width: 20px;
    height: 20px;
    background-color: #302993;
}
.s40 {
    width: 40px;
    height: 40px;
    background-color: #c8d048;
}
.s60 {
    width: 60px;
    height: 60px;
    background-color: #a979a9;
}
.s80 {
    width: 80px;
    height: 80px;
    background-color: #429aa0;
}
.s100 {
    width: 100px;
    height: 100px;
    background-color: #d74910;
}
.box:after {
    content: "";
    display: block;
}
.s20:after {
    height: 120px;
    border-left: 1px solid #ccc;
}
.s40:after {
    width: 400px;
    margin-left: -100px;
    border-top: 1px solid #ccc;
}
.s60:after {
    height: 400px;
    margin-top: -120px;
    border-left: 1px solid #ccc;
}

.a1 {
    top: 50px;
    left: 320px;
}
.a2 {
    top: 330px;
    left: 600px;
}
.a3 {
    top: 90px;
    left: 580px;
}
.a4 {
    top: 385px;
    left: 585px;
}
.a5 {
    top: 160px;
    left: 570px;
}
.a6 {
    top: 80px;
    left: 350px;
}
.a7 {
    top: 210px;
    left: 480px;
    margin-top: -50px;
    margin-left: -50px;
}
.a8 {
    top: 260px;
    left: 390px;
}
.a9 {
    top: 200px;
    left: 330px;
}
.a10 {
    top: 260px;
    right: 350px;
}
.a11 {
    top: 300px;
    left: 430px;
}
.a12 {
    top: 110px;
    left: 520px;
}
